<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Hydraulics engineers club</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <!-- Style CSS -->
    
</head>
<body>
    <section id="hero" class="bg-gradient-to-b from-[#203354] to-[#58a1d8] h-262">
        <nav>
            <div class="container mx-auto flex justify-between items-center">
                <div class="flex items-center ml-4 md:ml-0" style="padding-top: 5%; padding-bottom: 3%;">
                    <img src="logo.png" alt="Hydro Innovation Logo" class="h-16 mr-4 ">  <span class="text-xl font-bold text-white prata-regular">Hydro<br>INNOVATION</span>
                </div>
                <div>
                    <ul class="flex flex-col md:flex-row space-x-4 poppins-regular text-xl" style="padding-top: 5%;">
                        <li><a href="#hero" class="text-white hover:text-blue-500">Home</a></li>
                        <li><a href="#video" class="text-white hover:text-blue-500 mr-4 md:mr-0">About Us</a></li>
                    </ul>
                </div>
            </div>
            <section ><hr style="margin-left: 10%; margin-right: 10%;" class=" mb-8 border-t-4 border-[#203354] rounded-full"></section>
        </nav>
        
          
    
        <section id="content-hero" class="relative h-screen flex center items-center justify-center bg-cover bg-center">
            <div class="text-center text-white">
                <div class="container mx-auto px-4 md:px-0 prata-regular">  <h1 class="text-5xl md:text-7xl font-bold mb-8">HYDRO</h1>  <h1 class="text-5xl md:text-7xl font-bold mb-30">INNOVATION</h1>  <p class="text-lg md:text-2xl mb-8 leading-relaxed"> Participez au challenge Hydro Innovation. Relevez le défi et faites <br>
                        avancer l'avenir de l'hydraulique avec vos idées innovantes.
                    </p>
                    <p class="text-base md:text-xl mb-8">  Du 03 au 23 février / ENSH - BLIDA
                    </p>
                </div>
        
                <div class="flex justify-center space-x-4 poppins-bold">
                    <button onClick="document.getElementById('formulaire').scrollIntoView();" class="bg-[#203354] hover:bg-blue-700 text-white poppins-bold py-3 px-12 rounded-full">
                        INSCRIRE
                    </button>
                    <button onClick="document.getElementById('video').scrollIntoView();" class="bg-transparent hover:bg-gray-400 text-white hover:text-gray-800 font-bold py-3 px-6 rounded-full">
                        REGARDER LA VIDEO
                    </button>
                </div>
            </div>
        </section>
    </section>
    <section class="bg-gray-100">
        <div class="w-full prata-regular bg-[url('bg-drlmnt.png')] bg-cover bg-center py-32 md:py-80">  <div class="mx-auto px-4 md:px-0">  <h2 class="text-5xl font-bold mb-16 text-center text-[#3f63ac]">Déroulement de l'évènement</h2>
    
                <div class="flex flex-col items-stretch md:flex-row justify-center md:space-x-24">
    
                    <div class="bg-[#203354] text-white p-12 rounded-3xl w-full md:w-96 text-center mb-12 md:mb-0 flex-1 md:flex-none">
                        <p class="text-4xl font-bold mb-8">25 FÉVRIER</p>
                        <p class="text-2xl">Lancement officiel</p>
                    </div>
    
                    <div class="bg-gradient-to-r from-[#203354] to-[#5296ca] text-white p-12 rounded-3xl w-full md:w-96 text-center mb-12 md:mb-0 flex-1 md:flex-none">
                        <p class="text-4xl font-bold mb-8">AVRIL</p>
                        <p class="text-2xl">Développement des projets</p>
                    </div>
    
                    <div class="bg-[#5296ca] text-white p-12 rounded-3xl w-full md:w-96 text-center mb-12 md:mb-0 flex-1 md:flex-none">
                        <p class="text-4xl font-bold mb-8">MAI</p>
                        <p class="text-2xl">Clôture et remise des prix</p>
                    </div>
    
                </div>
            </div>
        </div>
    </section>
    </section>
    <section id="about" class="mt-20">
        <div class="container mx-auto p-8 prata-regular">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div>
                    <h1 class="text-6xl font-bold mb-4 mt-15 text-left text-[#3f63ac] ">C'est Quoi Hydro Innovation?</h1>
                    <p class="text-lg leading-relaxed">
                        Hydro Innovation est une compétition dédiée à l'innovation<br>
                        dans le domaine d'hydraulique. Elle invite les étudiants à<br>
                        proposer des solutions novatrices pour répondre aux défis<br>
                        environnementaux liés à l'eau. L'objectif est de stimuler la<br>
                        créativité et de favoriser le développement de technologies qui<br>
                        contribueront à un avenir plus durable et à une meilleure<br>
                        gestion de cette ressource précieuse.
                    </p>
                    <hr style="margin-left: 0%; margin-right: 10%;" class="my-8 border-t-4 border-[#203354] rounded-full">
                </div>
                <div class="relative md:h-auto" style="min-height: 400px;">  
                    <div class="absolute top-16 left-0 w-3/4 h-3/4 bg-[#5296ca] z-10"></div>  
                    <div class="absolute top-0 left-8 w-3/4 h-3/4 bg-[#203354] z-20"></div>  
                    <div id="video" class="absolute top-10 left-16 w-3/4 h-90 bg-gradient-to-b from-[#5296ca] to-[#203354] z-30 container flex items-center justify-center">
                        <iframe class="w-3/4 rounded-3xl" height="315"
                        src="https://www.youtube.com/embed/PIB5GVxYPJo">
                        </iframe> 
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="why" class="container mx-auto p-8 prata-regular">
        <h1 class="text-6xl font-bold mb-4 mt-15 text-left text-[#3f63ac] mb-20">Pourquoi Participer</h1>
        <ul class="grid grid-cols-1 gap-8">
            <li>
                <div class="flex items-start"> <img src="school.png" alt="" class="h-20 w-20 mr-4">  <div>
                        <p>Profite d'un encadrement technique et pédagogique de haut niveau.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex items-start"> <img src="question.png" alt="" class="h-20 w-20 mr-4">  <div>
                        <p>Résous des problématiques réelles proposées par des entreprises ou votre propre idée.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex items-start"> <img src="idea.png" alt="" class="h-20 w-20 mr-4">  <div>
                        <p>Échange avec des experts et crée de nouvelles opportunités et Mets en avant tes compétences et remporte des prix !</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex items-start"> <img src="settings.png" alt="" class="h-20 w-20 mr-4">  <div>
                        <p>Accède aux laboratoires et aux logiciels spécialisés (ArcGIS, AutoCAD, MATLAB...).</p>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section id="countdown" class="container mx-auto my-50 flex-grow flex items-center justify-center">
        <a href="https://logwork.com/countdown-timer" class="countdown-timer" data-style="circles" data-timezone="Africa/Algiers" data-textcolor="#203354" data-date="2025-02-25 00:00" data-background="#203354" data-digitscolor="#203354" data-unitscolor="#203354">Temps resté pour les inscriptions</a>
    </section>

    
    <section class="container mx-auto my-50 flex-grow flex items-center justify-center grid grid-cols-1" id="formulaire">
        <h1 class="font-bold mb-40 font-bold text-6xl prata-regular text-[#3f63ac] flex">S'inscrire pour participer:</h1>
        <iframe class="mx-auto" src="https://docs.google.com/forms/d/e/1FAIpQLSclhqITGGK6IJxb5e3gsBVRlmdJH_PnqVcyaNmplMOcTLgp-g/viewform?embedded=true" width="1000" height="2500" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
    </section> 
    <section id="generator" class="container mb-20 mx-auto flex-col items-center justify-center ">
        <div id="formContainer" class="container">
            <h1 class="text-6xl font-bold mb-4 mt-15 text-left text-[#3f63ac] mb-20 prata-regular">Obtenez votre badge d'évènement</h1>
            <form id="badgeForm">
                <label for="name">Nom complèt:</label>
                <input type="text" id="name" required>
    
                <label for="university">Etudiant à:</label>
                <input type="text" id="university" required>
    
                <label for="team">Nom d'équipe:</label>
                <input type="text" id="team" required>
    
                <label for="access">Accès:</label>
                <select id="access" required>
                    <option value="Participant">Participant</option>
                    <option value="Visiteur">Visiteur</option>
                </select>
                <button type="submit">J'obtiens mon badge d'évenement</button>
            </form>
        </div>
    
        <div id="badge" class="badge my-auto-">
            <div class="badge-header bg-url[('badge-header.png')]">
            </div>
            <div id="qrcode" class="mx-20 my-10"></div>
            <div class="badge-footer prata-regular">
                <p id="badgeAccess">Visiteur</p>
            </div>
        </div>
        <button id="dwnBadge" class="dwnBadge flex ">Telecharger le Badge</button>
    </section>
    
    <section id="contact">
        <div class="relative h-screen">
            <div class="absolute inset-0 bg-gradient-to-b from-[#203354] to-[#58a1d8] flex items-end">
                <div class="text-center md:text-left">
                    <h1 class="font-bold mb-40 ml-60 text-6xl prata-regular text-white">CONTACTS</h1>
                </div>
            </div>
        
            <div class="absolute bottom-0 left-0 right-0 bg-white py-8">
                <div class="container mx-auto flex flex-col md:flex-row justify-around">
   
                    <div class="flex flex-col md:flex-row gap-8">
                        <div class="flex items-center mr-40">
                            <span class="material-icons text-3xl mr-2"><img class="mr-4" src="phone.png"></span>
                            <div>
                                <p class="font-bold text-4xl poppins-regular text-[#5b39d8]">Téléphone</p>
                                <p class="text-2xl poppins-regular text-[#464069]">0555688973</p>
                            </div>
                        </div>
                        <div class="flex items-center">
                            <span class="material-icons text-3xl mr-2"><img class="mr-4" src="web.png"></span>
                            <div>
                                <p class="font-bold text-4xl poppins-regular text-[#5b39d8]">E-mail</p>
                                <p class="text-2xl poppins-regular text-[#464069]">heclub@ensh.dz</p>
                            </div>
                        </div>
                        <div class="flex items-center ml-40">
                            <span class="material-icons text-3xl mr-2"><img class="mr-4" src="map.png"></span>
                            <div>
                                <p class="font-bold text-4xl poppins-regular text-[#5b39d8]">Addresse</p>
                                <p class="text-2xl poppins-regular text-[#464069]">ENSH-Blida</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap" rel="stylesheet">
    <!-- Script JS -->
    <script src="script.js"></script>
    <script src="https://cdn.logwork.com/widget/countdown.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html-to-image/1.11.11/html-to-image.js"></script>

</body>
</html>
